<!DOCTYPE html>
<html>
  <head>
    <title>Electrimate API</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Electrimate API</h1>
    <h6>Version 1.0.0</h6>
    <p>Developed by Team Crypto</p>
  </body>
</html>
